[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "cmdy"
version = "0.1.11"
description = "A handy package to run command from python"
authors = [ "pwwang <pwwang@pwwang.com>",]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pwwang/cmdy"
repository = "https://github.com/pwwang/cmdy"

[tool.poetry.dependencies]
python = "^3.6"
modkit = "*"
python-simpleconf = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
